.Label {
  position: absolute;
  left: 0px;
  top: 16px;
  cursor: pointer;
  transition: 0.2s linear;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: var(--text, #151515);
}

.LabelUp {
  top: 4px;
  letter-spacing: -0.01em;
  font-size: 14px;
  color: var(--text-gray, #929291);
}

.Input {
  width: 100%;
  position: relative;
  padding: 24px 0px 7px;
  > input {
    outline: none;
    width: 100%;
    background-color: transparent;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    overflow: auto;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    resize: none;
    border-bottom-style: solid;
    border-bottom-color: var(--border-bottom-color-dark);
    color: var(--text-textarea);
    &::-webkit-scrollbar {
      display: none;
    }
  }
}