:root {
  --background: #ffffff;
  --background-second: #f1f9fc;
  --background-gray: #f4f4f4;
  --background-blue: #00adeb;
  --bacground-card: #ecf2f9;
  --background-card-blue: #00adeb;
  --background-card-blue-dark: #0059aa;
  --border-error: #FA4A14;
  --text-error: #FA4A14;
  --background-card-error: #FA4A14;
  --text: #151515;
  --text-textarea: #2a2d30;
  --text-blue: #00adeb;
  --border-blue: #00adeb;
  --scrollbar-thumb: #00adeb;
  --text-blue-dark: rgb(0, 138, 205);
  --border-bottom-color: #d0d2d5;
  --border-bottom-color-dark: #151515;
  --text-white: #ffffff;
  --text-gray: #929291;
  --text-gray-mini: #c0d2e7;
  --text-blue-mini: #306a8d;
  --shadow-header: rgba(124, 124, 124, 0.08) 0px 8px 12px -4px;
  --border-radius: 16px;
  --scrollbar-thumb-radius: 8px;
  --scrollbar-width: 8px;
  --scrollbar-track: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: rgba(0,0,0,0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
